{% extends 'base.html.twig' %}

{% block title %}Edit Selection{% endblock %}

{% block body %}
    <h1>Edit Selection</h1>

    {{ include('selection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('selection_list') }}">back to list</a>

    {{ include('selection/_delete_form.html.twig') }}
{% endblock %}
