{% extends 'base.html.twig' %}

{% block title %}New Selection{% endblock %}

{% block body %}
    <h1>Create new Selection</h1>

    {{ include('selection/_form.html.twig') }}

    <a href="{{ path('selection_list') }}">back to list</a>
{% endblock %}
