{% extends 'base.html.twig' %}

{% block title %}selection list !{% endblock %}

{% block body %}
        <h1>selection list</h1>
        <p>Voici toutes les selections:</p>
        
        <ul>
            {% for selection in app.user.member.selection %}
            <li><a href="{{ path('selection_show', {'id': selection.id}) }}">{{ selection.description }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}
