{% extends 'base.html.twig' %}

{% block title %}New Videotheque{% endblock %}

{% block body %}
    <h1>Create new Videotheque</h1>

    {{ include('videotheque/_form.html.twig') }}

    <a href="{{ path('videotheque_list') }}">back to list</a>
{% endblock %}
